body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
  font-weight: bold;
}

.article {
  margin-top: 0;
}

.article-body {
  text-align: justify;
}

.login-error {
  color:darkred;
  font-weight: bold;
}

.q-form {
  width: 300px;
}
