extends layout

block content
  span 
    h1 Uh Oh... Something went wrong: #{error.message} 
    h2 Status:  #{error.status}
    //- Comment out this error.stack before submit
    pre #{error.stack} 

  if adminPriv
    form()
      input(type="submit" formaction="/admin/logout" formmethod="POST" name="logout" value="Logout")
  br
  a(href="/question/reset" method="post") Go Home
