extends layout

block content
  div(class="article")
    //- Welcome message for the browser tab.
    title 
    h2=subTitle
    p=startMessage
    p(class="error-text")=redirectMessage
    form()
      input(required type="text" name="username" placeholder="Enter Your Name")
      input(type="submit" formaction="/question/1" formmethod="POST" name="startMatch" value="Match")
      br
    br
    a(href="/admin") Manage Site

