extends layout 

block content
    h4 User: #{username}
    h3=title
    p=subTitle
    each item in matches 
        ul  
            p #{item.username} items go here.
    a(href="/") Go to Main Page
