extends layout 

block content
    h4 User: #{username}
    h3= title
    h4 Question No. #{qid}

    form(action="/question/" + (qid) method="POST")
        input(required type="radio" name="display" value="vertical") 
        label(for="vertical") Vertical Display
        br
        input(type="radio" name="display" value="horizontal") 
        label(for="horizontal") Horizontal Display
        br
        br
        input(type="submit" value="Save" name="savePrefs")
        br
        br
    a(href="/question/reset" method="post") Go to Main Page