extends layout

block content
  span 
    h1 Uh Oh... Something went wrong: #{error.message} 
    h2 Status:  #{error.status}
    //- Comment out this error.stack when all the errors are covered
    pre #{error.stack} 
  a(href="/") Go Home
