extends layout

block content
  div(class="article")
    //- Welcome message for the browser tab.
    title 
    p(class="article-body") 
      h3=articleTitle
    p=articleBody

  div(class="user-activity")
    h3 User Activity
      // View User Activity button, and 
      // Reset button 

  div(class="add-comments")
    h3 Add a Comment
    // Comment id: ____
    // Comments: ____
    // AddComment button, 
    // Undo button, 

  div(class="comments")
    h3 Comments
    // Ex [ID 1]: [First Comment]

  div(class="delete-comment")
    h3 Delete Specific Comment 
    // Question ID: ____ Delete Comment button

